* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: linear-gradient(#0000,#898AA6);
}
.flex-container-column {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  background:  rgba(0, 0, 0, 0.747);
}
.flex-row {
  display: flex;
}
.button {
  flex-basis: 25%;
  margin-top: 5px;
  border: 2px solid violet;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
}
.operator,
.negative,
.equals {
  background: wheat;
}

.display {
  color: grey;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 3em;
  text-align: right;
}

.double {
  flex-basis: 50%;
}
.card {
  box-shadow: 0px 6px 8px 0px;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
}

.button:hover {
  background-color: chocolate;
}
@media screen and (max-width: 600px){
  .button {
    padding: 10px;
 }
}